@import './tailwind.css';

.vite:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}
.vanilla:hover {
  filter: drop-shadow(0 0 1em #f7df1eaa);
}
.tailwind:hover {
  filter: drop-shadow(0 0 1em #38bdf8aa);
}
